// Variables
$background-dark: #1c1c1c;
$background-medium: #232323;
$background-light: #2a2a2a;
$accent: #02ffff;
$light-text: #ededed;
$dark-text: #7a7a7a;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-dark;
}

.App {
  padding: 5%;
}

.search-bar {
  display: flex;
  justify-content: space-between;

  input {
    width: 80%;
    background-color: $background-medium;
    color: $dark-text;
    padding-left: 12px;
  }

  button {
    width: 15%;
    background-color: $accent;
  }

  input, button {
    height: 50px;
    border: none;
    font-size: 16px;
  }
}

h3 {
  font-weight: 400;
  color: $accent;
  margin-top: 15px;
  padding: 5px;
  position: fixed;
}

.release-list {
  white-space: nowrap;
  overflow-x: scroll;

  hr {
    height: 2px;
    color: $background-medium;
    background: $background-medium;
    margin-top: 15px;
    font-size: 0;
    border: 0;
  }

  article {
    margin: 50px 5px 5px 5px;
  }
}

.selected {
  border-bottom: 2px solid $background-medium;
}

.thumbnail {
  width: 17.5%;
  margin-right: 3%;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 10px;

  img {
    width: 100%;
  }

  p {
    text-align: center;
    color: $accent;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
